{% extends 'flatpages/default.html' %}
{% load static %}



{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->

{% block title %}
News
{% endblock title %}

{% block content %}
<style type="text/css">
   .txt {
       font-size: 4em;
   }
   .indentation {
       padding: 10px 15px 5px 15px;
   }
</style>
    <h1 class="txt">Все новости</h1>
    <h3>{{ time_now }}</h3>
    <hr>
    {% if news %}
        <table>
            <tr>
                <td class="indentation">
                    Название
                </td>
                <td class="indentation">
                    Описание
                </td>
                <td class="indentation">
                    Категория
                </td>
                <td class="indentation">
                    Дата
                </td>
                <td class="indentation">
                    Полный текст
                </td>
            </tr>
        {% for new in news %}
            <tr>
                <td class="indentation">
                    {{ new.name|multiply:4 }} <!-- применим наш фильтр, чтобы название товара вывелось 4 раза -->
                </td>
                <td class="indentation">
                    {{ new.description|truncatewords:4 }}
                </td>
                <td class="indentation">
                    {{ new.category.name }}
                </td>
                <td class="indentation">
                    {{ new.data }}
                </td>
                <td class="indentation">
                    {{ new.full_text|truncatechars:50 }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}

{% endblock content %}
